html {background-color: #36465D;}
h1 {text-align: center;
    font-family: 'Helvetica neue', 'sans-serif';
    color: white;}

@font-face {
  font-family: bitcount; 
  src: url(../michellefonts/BitcountPropSingle-Regular.ttf);}

.web-header{
display:flex;
flex-direction: column;
text-align: center;
background-color: white;
margin-bottom: 2%;}

.holistic-heading{
font-family: bitcount; 
font-size: 2rem; 
padding-bottom: 0%; 
margin-bottom: 0.25%;}

.topbar{
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
  }

  .topbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  @font-face {
    font-family: jacquard;
    src: url(../michellefonts/Jacquard24-Regular.ttf);
  }

  @font-face {
    font-family: mymicrosoftsans;
    src: url(../michellefonts/micross.ttf);
  }

  @font-face {
    font-family: myhelveticaneue;
    src: url(../michellefonts/HelveticaNeueRoman.otf);
  }

  .backhome{color: black; font-family: Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold;}
  .headerone {color: #a52a2a; font-family:jacquard; text-decoration: none ; font-size: 25px;}
  .headertwo {color: yellow; text-shadow: 3px 3px hotpink; font-family: Arial, Helvetica, sans-serif;  text-decoration: none ; font-weight: bold;}
  .headerthree {color:#0d088e; font-family: mymicrosoftsans; text-decoration: none ;}
  .headerfour {color:#36465D; font-family: myhelveticaneue; text-decoration: none ; font-style: italic;}

.about {position: absolute;
    right: 0;
    background-color: white;
    width: 200px;
    height: 320px;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    }
.container {width: 700px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    padding: 20px;
    text-align: left;
    flex-grow: inherit;}
.container1 {width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    padding: 20px;
    text-align: left;
    flex-grow: inherit;}
.container2 {width: 700px;
    height: 1900px;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    padding: 20px;
    text-align: left;
    flex-grow: inherit;}
h3, p {font-family: Helvetica neue, sans-serif;
        font-weight: 300;}
h2 {font-family: Helvetica neue, sans-serif;}
ul {font-family: Helvetica neue, sans-serif;}
form * {border: none;
    background-color: white;
        font-family: helvetica neue, sans-serif;
        font-size: large;}
footer {text-align: center;
    font-family: Helvetica neue, sans-serif;
    color: white;
}
a {color: gray;
    font-family: Helvetica neue, sans-serif;}
button {font-family: Helvetica neue, sans-serif;
        }
